<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>MAIN SYSTEM</title>
  </head>
  <body class="bg-secondary">
    <script>
      var title = 'hellow title?';
      document.writeln(title);
    </script>
<hr>
<a href="/" class="btn btn-warning btn-block" style="font-size:3rem;">This is MAIN PAGE BUTTON</a>
 <h1>&copy;</h1>
  how to use variable?
  <a href="./CCC" class="btn btn-danger" style="font-size:3rem;">Go CCC</a>
  <a href="./CCC2" class="btn btn-danger" style="font-size:3rem;">Go CCC2</a>
  <a href="./BBB1" class="btn btn-danger" style="font-size:3rem;">Go BBB1</a>
  <a href="./BBB2" class="btn btn-danger" style="font-size:3rem;">Go BBB2</a>
  <a href="./DDDD" class="btn btn-danger" style="font-size:3rem;">Go DDDD</a>
  <a href="./testing" class="btn btn-danger" style="font-size:3rem;">Go Test Ejs</a>


  </body>
</html>
